@forward './variables';
@forward './mixins';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

/** Local **/
.title {
    height: 98px;
    font-family: "Source Sans 3", sans-serif;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    color: rgba(34, 34, 34, 1);
    display: flex;
    align-items: center;
    justify-content: center;

    &__e-wallet {
        width: 304px;
    }

    &__add-card {
        width: 250px;   
    }
}

.helper-text {
    height: 22px;
    margin: 0;
    font-family: "PT Mono", monospace;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    align-items: center;
    display: flex;

    &__title {
        height: 26px;
        justify-content: center;
        margin: 0.5rem 0;
    }

    &__vendor {
        width: 382px;
    }
}

.button {
    width: 382px;
    height: 80px;
    border-radius: 8px;
    margin-top: 2rem;  

    &__new-card {
        border: 1px solid rgba(0, 0, 0, 1);
        background-color: white;
    }

    &__add-card {
        font-family: "Source Sans 3", sans-serif;
        font-size: 22px;
        font-weight: 700;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
    }

    &__text {
        font-family: "Source Sans 3", sans-serif;
        font-size: 22px;
        font-weight: 700;
        color: rgba(0, 0, 0, 1);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__go-back {
        position: absolute;
        left: 0;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 0;
        margin: 1rem 0 0 1rem;
        background-color: rgba(175, 175, 175, 0.257);
    }

    &__go-back-text {
        text-decoration: none;
        font-size: 2.2rem;
        color: rgba(0, 0, 0, 0.389);
        font-family: math;
    }
}

/** Add Card **/
.add-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title-box {
        display: flex;
    }

    &__vendor-select-box option {
        width: 235px;
        height: 40px;
        font-family: "Source Sans 3", sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        color: rgba(51, 51, 51, 1);                
    }
}

.input__container {
    height: 56px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 382px;
}