$yellow: #ffae34;
$black: linear-gradient(0deg, #222222, #222222),
  linear-gradient(248.3deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
$purple: #8b58f9;
$red: #f33355;
$grey: #d0d0d0;
