@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

/* Form container */
.form-container {
  width: 382px;
  display: grid;
  grid-template-areas:
    'number number'
    'name name'
    'expiry cvc'
    'vendor vendor'
    'submit submit';
}

.input__container {
  height: 56px;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 382px;
  margin-bottom: 0.8rem;
  
  &__short {
    width: 175px;
  }
}

form > label:nth-child(1) {
  grid-area: number;
}
form > label:nth-child(2) {
  grid-area: name;
}
form > label:nth-child(3) {
  grid-area: expiry;
}
form > label:nth-child(4) {
  grid-area: cvc;
}
form > label:nth-child(5) {
  grid-area: vendor;
}
