@use './../../sass/abstracts/' as *;

// TODO: Fixa så kortnummret är rätt storlek & att namnet radbryter omd et blir för stort

.card {
  min-width: fit-content;
  // border: 2px solid yellowgreen;
  border-radius: 0.5rem;
  max-width: 320px;
  aspect-ratio: 3/2;
  padding: 1rem;
  margin: 1rem;
  background: $grey;
  color: #000;
  text-transform: uppercase;
  box-shadow: (0px 0px 16px rgba(0, 0, 0, 0.426));

  // TODO: Bevel effect
  // text-shadow: 0.5px 0.5px rgba(255, 255, 255, 0.536), -0.5px -0.5px rgba(0, 0, 0, 0.548);

  //VENDORS
  &--bitcoin {
    background: $yellow;
    color: #000;
  }
  &--chain {
    background: $purple;
    color: #000;
  }
  &--evil {
    background: $red;
    color: #fff;
  }

  &--ninja {
    background: $black;
    color: #fff;
  }

  //LAYOUT
  &__top {
    display: flex;
    justify-content: space-between;

    &__logo {
      margin-top: 0.8rem;
      opacity: 0.8;
    }
  }
  &__num {
    margin: 1rem 0;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    text-align: center;
  }
  &__btm {
    display: flex;
    justify-content: space-between;

    &__item {
      &__heading {
        margin: 0;
        font-size: 12px;
        opacity: 0.8;
      }
      &__text {
        margin: 0.2em 0;
        font-size: 18px;
      }

      &--right {
        text-align: right;
      }
    }

    &__heading {
      margin: 0;
      font-size: 12px;
    }
    &__text {
      margin: 0;
      font-size: 18px;
    }
  }
}

.card-list-container {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  height: 50vh;
  margin-bottom: 0rem;
  border: 2px solid rgb(0, 0, 0);
}

.card-list {
  background-color: orange;
  color: black;
  border: 2px solid rgb(255, 0, 0);
  font-weight: bold;
  width: 100%;
  height: 200px;
  border-radius: 0.4rem;
}
