@use './../../sass/abstracts/' as *;

.card {
  // min-width: fit-content;
  border-radius: 0.5rem;
  width: 380px;
  aspect-ratio: 3/2;
  margin-bottom: 3rem;
  padding: 1rem;
  background: $grey;
  color: #000;
  text-transform: uppercase;
  box-shadow: 0px 0px 16px rgb(0 0 0 / 22%);

  font-family: 'PT Mono', monospace;
  font-weight: 400;
  font-style: normal;

  text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.11),
    1px 1px 0px rgba(0, 0, 0, 0.13);

  //VENDORS
  &--bitcoin {
    background: $yellow;
    color: #000;
  }
  &--chain {
    background: $purple;
    color: #000;
  }
  &--evil {
    background: $red;
    color: #fff;
  }

  &--ninja {
    background: $black;
    color: #fff;
  }

  //LAYOUT
  &__top {
    display: flex;
    justify-content: space-between;

    &__logo {
      margin-top: 0.8rem;
      opacity: 0.8;
    }
  }

  &__num {
    margin: 2rem 0 2rem;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    text-align: center;
    height: 2rem;
  }
  &__btm {
    display: flex;
    justify-content: space-between;

    &__item {
      max-width: 250px;
      word-break: break-all;
      &__heading {
        margin: 0;
        font-size: 12px;
        opacity: 0.8;
      }
      &__text {
        margin: 0.2em 0;
        font-size: 18px;
      }

      &--right {
        text-align: right;
      }
    }

    &__heading {
      margin: 0;
      font-size: 12px;
    }
    &__text {
      margin: 0;
      font-size: 18px;
    }
  }
}
